<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <application
        android:name=".app.SAPWizardApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:supportsRtl="true"
        tools:replace="android:label"
        android:theme="@style/AppTheme">

        <activity
            android:name=".app.WelcomeActivity"
            android:exported="true"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.MainBusinessActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".mdui.EntitySetListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".mdui.matdetailsset.MatDetailsSetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>

        <activity
            android:name=".mdui.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale|uiMode|layoutDirection|locale"
            android:label="@string/settings_activity_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.sap.cloud.mobile.foundation.authentication.OtpResponseActivity"
            android:exported="true"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.sap.crfid.crfid_demo.xcallbackurl"
                     />
            </intent-filter>
        </activity>
    </application>

</manifest>